.above {
    z-index: 2;
}
.warpColorChoose {
    position: absolute;
    top: 75px;
    right: 130px;
}
.weftColorChoose {
    position: absolute;
    top: 75px;
    right: 35px;
}
.base {
    z-index: 1;
}
.borderTryBox {
    margin-top: 50px;
    position: fixed;
    padding: 20px;
    top: 80px;
    overflow: auto;
    direction:rtl;
    bottom: 80px;
    right: 180px;
    left: 180px;
    border-style: outset;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
    -moz-box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
    box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
}
.tryBox {
    position: relative;
    
   height:100%;
}
.warpColorGrid {
    position: absolute;
    direction: rtl;
    top: 80px;
    right: 0px;
    height: 32px;
}
.setWarpsAndWefts {
    margin-top: 10px;
    height: 30px;
    width: 40px;
}
.weftColorGrid {
    position: absolute;
    overflow: auto;
    top: 120px;
    right: 240px;
    width: 35px;
}
.setNumbers {
    position: fixed;
    top: 20px;
    left: 20px;
}
.weaveBoxBorder {
    position: absolute;
    direction: rtl;
    
    top:0px;
    right: 285px;
}
.weaveBox {
    position: absolute;
    top: 120px;
    height:100%;
    width:100%;
}
.choose {
    margin-top: 20px;
}
.hGrid {
    position: absolute;
    top: 0px;
    right: 0px;
    direction: rtl;
    height: 77px;
}
.hGridRow0 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow1 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow2 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow3 {
    position: absolute;
    left: 0px;
    top: 45px;
    width: 15px;
    height: 15px;
}
.activeButton {
    background: #444;
}
