.above {
	z-index:2;
	}
	
.warpColorChoose {
	
	position:absolute;
	top:55px;
	right:0px;
	}

.weftColorChoose {
	
	position:absolute;
	top:85px;
	right:0px;
	}


.base {
	z-index:1;
	}
.borderTryBox {
	margin-top:50px;
	overflow:auto;
	position:fixed;
	padding: 20px;
	top:80px;
	bottom:80px;
	right:180px;
	left:180px;
	border-style:outset;

	-webkit-box-shadow: 10px 10px 24px 0px rgba(143,136,143,0.63);
	-moz-box-shadow: 10px 10px 24px 0px rgba(143,136,143,0.63);
	box-shadow: 10px 10px 24px 0px rgba(143,136,143,0.63);
	}
	
.tryBox {
	position:relative;
	height:100%;
	width:100%;
	}
.warpColorGrid {
	position:absolute;
	direction: rtl;
	overflow:auto;
	top:92px;
	right:285px;
	left:0px;
	height:30px;
}

.setWarpsAndWefts {
	margin-top:10px;
	height:30px;
	width:40px;
	}

.weftColorGrid {
	position:absolute;
	overflow:auto;
	top:117px;
	right:240px;
	width:35px;
}

.setNumbers {
	position:fixed;
	top:20px;
	left:20px;
	}

.weaveBox {
	position:absolute;
	top:117px;
	right:285px;
	}

.choose {
	margin-top:20px;
	}
.hGridScrollWrap {
	display:inline-block
	
}
.hGrid {

 position:absolute;
 top:0px;
 left:0px;
 right:285px;
 height:77px;
}

.hGridRow0 {
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:25px;
	}
.hGridRow1 {
	position:absolute;
	top:15px;
	left:0;
	width:100%;
	height:25px;
	}
.hGridRow2 {
	position:absolute;
	top:30px;
	left:0;
	width:100%;
	height:25px;
	}
.hGridRow3 {
	position:absolute;
	top:45px;
	left:0;
	width:100%;
	height:25%;
	}

.activeButton {
	background:#444;
	}
