.above {
    z-index: 2;
}

.wif {
	position:fixed;
	top:25px;
	right:150px;
	}

pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }


.warpColorChoose {
    position: absolute;
    top: 63px;
    right: 135px;
}
.weftColorChoose {
    position: absolute;
    top: 63px;
    right: 70px;
}
.base {
    z-index: 1;
}
.borderTryBox {
    margin-top: 50px;
    position: fixed;
    padding: 20px;
    top: 30px;
    overflow: auto;
    direction:rtl;
    bottom: 0px;
    right: 0px;
    left: 0px;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
    -moz-box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
    box-shadow: 10px 10px 24px 0px rgba(143, 136, 143, 0.63);
}
.tryBox {
    position: relative;
    
   height:100%;
}
.warpColorGrid {
    position: absolute;
    direction: rtl;
    top: 80px;
    right: 0px;
    height: 32px;
}
.setWarpsAndWefts {
    margin-top: 10px;
    height: 30px;
    width: 40px;
}
.weftColorGrid {
    position: absolute;
    overflow: auto;
    top: 120px;
    right: 240px;
    width: 35px;
}
.setNumbers {
    position: fixed;
    top: 20px;
    left: 20px;
}
.weaveBoxBorder {
    position: absolute;
    direction: rtl;
    
    top:0px;
    right: 285px;
}
.weaveBox {
    position: absolute;
    top: 120px;
    height:100%;
    width:100%;
}
.choose {
    margin-top: 20px;
}
.hGrid {
    position: absolute;
    top: 0px;
    right: 0px;
    direction: rtl;
    height: 77px;
}
.hGridRow0 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow1 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow2 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 15px;
    height: 15px;
}
.hGridRow3 {
    position: absolute;
    left: 0px;
    top: 45px;
    width: 15px;
    height: 15px;
}
.activeButton {
    background: #444;
}
